# Site wide configuration

title:            秉亮的博客
locale:           zh_CN
url:              http://thatblstudio.github.io/blog
# url:              http://localhost:4000

# Jekyll configuration

permalink:   /:categories/:title/
markdown:    kramdown
highlighter: pygments
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  use_coderay: false


# Site owner
owner:
  name: 秉亮(blStudio)
  avatar: bio-photo.jpg
  bio: "杭州独立开发者\n(An indie developer in Hangzhou)"
  email: bl_indie@qq.com
  disqus-shortname:
  twitter: #username
  facebook: #username
  google:
    plus: 116052774697386661438
    analytics:
    verify:
    ad-client:
    ad-slot:
  bing-verify:
  github: thatblstudio
  stackoverflow: #123456/username   from a "http://stackoverflow.com/users/123456/username" link
  linkedin: #username
  xing: #username
  instagram: #username
  lastfm: #username
  tumblr: #username
  pinterest: #username
  foursquare: #username
  steam: #username
  dribbble: #username
  youtube: #username
  soundcloud: #username
  weibo: 2313701814
  flickr: #username
  codepen: #username

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md"]
